[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-session = "*"
flask-migrate = "*"
flask-cors = "*"
psycopg2-binary = "*"
flask-pydantic-spec = "*"
werkzeug = "==2.1.2"

[dev-packages]
black = "*"
names = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
